In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
%matplotlib inline

In [4]:
dict = {'x1':[1,1,-1,-1], 'x2':[1,-1,1,-1], 'y':[1,-1,-1,-1]}
df = pd.DataFrame(dict)
df

   x1  x2  y
0   1   1  1
1   1  -1 -1
2  -1   1 -1
3  -1  -1 -1

In [13]:
w1,w2,b,alpha = 0,0,0,1

y = np.array(w1*df['x1']+ w2*df['x2']+b) 
yf =  np.array(activation(y))
yf

array(1)

In [11]:
def sigmoid(y):
    return 1/(1+np.exp(-y))
def activation(y):
    if sigmoid(y).any()>0:
        return 1
    else:
        return -1